.conteiner {
    max-width: 840px;
    width: 100%;
}

.homeContentMenuGostConteiner {
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;

    border: 1px solid #E6E6E6;
    min-height: 60px;
    width: 100%;
    background: rgb(255, 255, 255);

    @media (max-width: 972px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.hCMGBtn {
    max-width: 97px;
    width: 100%;
    height: 25px;
    background: #F9F9F9;
    border-radius: 4px;
    margin: 0px 5px;
}


.homeContentCardConteiner {
    width: 100%;
    height: 100%;

}